/* SETUP-VIDEO-BLOCK | 1.0.2 | 201001 | setup-video-block/assets/scss/setup-video-block-style.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-VIDEO-BLOCK | 1.0.2 | 201026 | setup-be/block-custom/setup-video-block-102/video.scss
---------------------------------------------------------------------------------------------------- */
.video-block .video-button {
  position: absolute;
  background-image: url(../images/youtube_social_icon_red.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.video-block .video-image {
  position: relative;
  background-color: #333;
  padding-bottom: 56.25%;
}
.video-block .video-image:hover {
  cursor: pointer;
}
